In [121]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random

**Data Cleaning**

In [122]:
train = pd.read_csv('datasets/train.csv')
test = pd.read_csv('datasets/test.csv')

In [123]:
train.head()

,Unnamed: 0,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,532,1612,526352080,20,RL,85.0,10667,Pave,NaN,Reg,...,0,0,NaN,NaN,NaN,0,3,2007,WD,167300
1,415,2045,904100100,70,RL,107.0,12888,Pave,NaN,Reg,...,0,0,NaN,NaN,NaN,0,4,2007,WD,219000
2,273,1962,535451110,20,RL,60.0,7200,Pave,NaN,Reg,...,0,0,NaN,NaN,NaN,0,7,2007,WD,129000
3,1460,229,905109130,60,RL,80.0,14000,Pave,NaN,Reg,...,0,0,NaN,NaN,NaN,0,4,2010,WD,328000
4,250,1105,528363020,60,RL,NaN,11929,Pave,NaN,IR1,...,0,0,NaN,NaN,NaN,0,6,2008,WD,290000

In [124]:
test.head()

,Unnamed: 0,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,...,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type
0,1124,2782,907200170,80,RL,55.0,10780,Pave,NaN,IR1,...,0,0,0,NaN,NaN,NaN,0,7,2006,WD
1,188,2569,535125060,60,RL,88.0,14200,Pave,NaN,Reg,...,0,0,0,NaN,GdPrv,NaN,0,5,2006,WD
2,1727,1062,528142020,60,RL,74.0,8899,Pave,NaN,Reg,...,0,0,0,NaN,NaN,NaN,0,6,2008,WD
3,1658,287,909100110,70,RL,66.0,6858,Pave,NaN,Reg,...,0,0,0,NaN,NaN,NaN,0,5,2010,WD
4,1424,2809,907410040,60,RL,74.0,8581,Pave,NaN,IR1,...,0,0,0,NaN,NaN,NaN,0,8,2006,New

In [125]:
train.shape

(1538, 82)

In [126]:
test.shape

(513, 81)

In [127]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1538 entries, 0 to 1537
Data columns (total 82 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       1538 non-null   int64
 1   Id               1538 non-null   int64
 2   PID              1538 non-null   int64
 3   MS SubClass      1538 non-null   int64
 4   MS Zoning        1538 non-null   object
 5   Lot Frontage     1285 non-null   float64
 6   Lot Area         1538 non-null   int64
 7   Street           1538 non-null   object
 8   Alley            111 non-null    object
 9   Lot Shape        1538 non-null   object
 10  Land Contour     1538 non-null   object
 11  Utilities        1538 non-null   object
 12  Lot Config       1538 non-null   object
 13  Land Slope       1538 non-null   object
 14  Neighborhood     1538 non-null   object
 15  Condition 1      1538 non-null   object
 16  Condition 2      1538 non-null   object
 17  Bldg Type        1538 non-null   object
 18  House Style      1538 non-null   object
 19  Overall Qual     1538 non-null   int64
 20  Overall Cond     1538 non-null   int64
 21  Year Built       1538 non-null   int64
 22  Year Remod/Add   1538 non-null   int64
 23  Roof Style       1538 non-null   object
 24  Roof Matl        1538 non-null   object
 25  Exterior 1st     1538 non-null   object
 26  Exterior 2nd     1538 non-null   object
 27  Mas Vnr Type     607 non-null    object
 28  Mas Vnr Area     1520 non-null   float64
 29  Exter Qual       1538 non-null   object
 30  Exter Cond       1538 non-null   object
 31  Foundation       1538 non-null   object
 32  Bsmt Qual        1498 non-null   object
 33  Bsmt Cond        1498 non-null   object
 34  Bsmt Exposure    1495 non-null   object
 35  BsmtFin Type 1   1498 non-null   object
 36  BsmtFin SF 1     1537 non-null   float64
 37  BsmtFin Type 2   1497 non-null   object
 38  BsmtFin SF 2     1537 non-null   float64
 39  Bsmt Unf SF      1537 non-null   float64
 40  Total Bsmt SF    1537 non-null   float64
 41  Heating          1538 non-null   object
 42  Heating QC       1538 non-null   object
 43  Central Air      1538 non-null   object
 44  Electrical       1538 non-null   object
 45  1st Flr SF       1538 non-null   int64
 46  2nd Flr SF       1538 non-null   int64
 47  Low Qual Fin SF  1538 non-null   int64
 48  Gr Liv Area      1538 non-null   int64
 49  Bsmt Full Bath   1536 non-null   float64
 50  Bsmt Half Bath   1536 non-null   float64
 51  Full Bath        1538 non-null   int64
 52  Half Bath        1538 non-null   int64
 53  Bedroom AbvGr    1538 non-null   int64
 54  Kitchen AbvGr    1538 non-null   int64
 55  Kitchen Qual     1538 non-null   object
 56  TotRms AbvGrd    1538 non-null   int64
 57  Functional       1538 non-null   object
 58  Fireplaces       1538 non-null   int64
 59  Fireplace Qu     773 non-null    object
 60  Garage Type      1450 non-null   object
 61  Garage Yr Blt    1450 non-null   float64
 62  Garage Finish    1450 non-null   object
 63  Garage Cars      1538 non-null   float64
 64  Garage Area      1538 non-null   float64
 65  Garage Qual      1450 non-null   object
 66  Garage Cond      1450 non-null   object
 67  Paved Drive      1538 non-null   object
 68  Wood Deck SF     1538 non-null   int64
 69  Open Porch SF    1538 non-null   int64
 70  Enclosed Porch   1538 non-null   int64
 71  3Ssn Porch       1538 non-null   int64
 72  Screen Porch     1538 non-null   int64
 73  Pool Area        1538 non-null   int64
 74  Pool QC          7 non-null      object
 75  Fence            313 non-null    object
 76  Misc Feature     54 non-null     object
 77  Misc Val         1538 non-null   int64
 78  Mo Sold          1538 non-null   int64
 79  Yr Sold          1538 non-null   int64
 80  Sale Type        1538 non-null   object
 81  SalePrice        1538 non-null   int64
dtypes: float64(11), int64(29), object(42)
memory usage: 985.4+ KB

In [128]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 513 entries, 0 to 512
Data columns (total 81 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       513 non-null    int64
 1   Id               513 non-null    int64
 2   PID              513 non-null    int64
 3   MS SubClass      513 non-null    int64
 4   MS Zoning        513 non-null    object
 5   Lot Frontage     436 non-null    float64
 6   Lot Area         513 non-null    int64
 7   Street           513 non-null    object
 8   Alley            29 non-null     object
 9   Lot Shape        513 non-null    object
 10  Land Contour     513 non-null    object
 11  Utilities        513 non-null    object
 12  Lot Config       513 non-null    object
 13  Land Slope       513 non-null    object
 14  Neighborhood     513 non-null    object
 15  Condition 1      513 non-null    object
 16  Condition 2      513 non-null    object
 17  Bldg Type        513 non-null    object
 18  House Style      513 non-null    object
 19  Overall Qual     513 non-null    int64
 20  Overall Cond     513 non-null    int64
 21  Year Built       513 non-null    int64
 22  Year Remod/Add   513 non-null    int64
 23  Roof Style       513 non-null    object
 24  Roof Matl        513 non-null    object
 25  Exterior 1st     513 non-null    object
 26  Exterior 2nd     513 non-null    object
 27  Mas Vnr Type     204 non-null    object
 28  Mas Vnr Area     509 non-null    float64
 29  Exter Qual       513 non-null    object
 30  Exter Cond       513 non-null    object
 31  Foundation       513 non-null    object
 32  Bsmt Qual        498 non-null    object
 33  Bsmt Cond        498 non-null    object
 34  Bsmt Exposure    498 non-null    object
 35  BsmtFin Type 1   498 non-null    object
 36  BsmtFin SF 1     513 non-null    float64
 37  BsmtFin Type 2   498 non-null    object
 38  BsmtFin SF 2     513 non-null    float64
 39  Bsmt Unf SF      513 non-null    float64
 40  Total Bsmt SF    513 non-null    float64
 41  Heating          513 non-null    object
 42  Heating QC       513 non-null    object
 43  Central Air      513 non-null    object
 44  Electrical       513 non-null    object
 45  1st Flr SF       513 non-null    int64
 46  2nd Flr SF       513 non-null    int64
 47  Low Qual Fin SF  513 non-null    int64
 48  Gr Liv Area      513 non-null    int64
 49  Bsmt Full Bath   513 non-null    float64
 50  Bsmt Half Bath   513 non-null    float64
 51  Full Bath        513 non-null    int64
 52  Half Bath        513 non-null    int64
 53  Bedroom AbvGr    513 non-null    int64
 54  Kitchen AbvGr    513 non-null    int64
 55  Kitchen Qual     513 non-null    object
 56  TotRms AbvGrd    513 non-null    int64
 57  Functional       513 non-null    object
 58  Fireplaces       513 non-null    int64
 59  Fireplace Qu     278 non-null    object
 60  Garage Type      488 non-null    object
 61  Garage Yr Blt    487 non-null    float64
 62  Garage Finish    487 non-null    object
 63  Garage Cars      512 non-null    float64
 64  Garage Area      512 non-null    float64
 65  Garage Qual      487 non-null    object
 66  Garage Cond      487 non-null    object
 67  Paved Drive      513 non-null    object
 68  Wood Deck SF     513 non-null    int64
 69  Open Porch SF    513 non-null    int64
 70  Enclosed Porch   513 non-null    int64
 71  3Ssn Porch       513 non-null    int64
 72  Screen Porch     513 non-null    int64
 73  Pool Area        513 non-null    int64
 74  Pool QC          2 non-null      object
 75  Fence            87 non-null     object
 76  Misc Feature     11 non-null     object
 77  Misc Val         513 non-null    int64
 78  Mo Sold          513 non-null    int64
 79  Yr Sold          513 non-null    int64
 80  Sale Type        513 non-null    object
dtypes: float64(11), int64(28), object(42)
memory usage: 324.8+ KB

**Observations**
- Total of 1538 observations.
- There are 81 variables.
- Alley, Mas Vnr Type, Fireplace Qu, Pool QC, Fence, Misc Feature have a considerable amount of missing values

Dropping the columns where over 50% of their values are null as well as 'Unnamed: 0' column in the houses dataset

In [129]:
train.drop(columns= ['Unnamed: 0','Alley', 'Mas Vnr Type', 'Fireplace Qu', 'Pool QC', 'Fence', 'Misc Feature'], inplace= True)

In [130]:
test.drop(columns= ['Alley', 'Mas Vnr Type', 'Fireplace Qu', 'Pool QC', 'Fence', 'Misc Feature'], inplace= True)

In [131]:
train.isna().sum().sort_values(ascending=False)

Lot Frontage     253
Garage Type       88
Garage Yr Blt     88
Garage Finish     88
Garage Qual       88
                ...
PID                0
Heating            0
Heating QC         0
Central Air        0
SalePrice          0
Length: 75, dtype: int64

In [132]:
test.isna().sum().sort_values(ascending=False)

Lot Frontage     77
Garage Yr Blt    26
Garage Finish    26
Garage Qual      26
Garage Cond      26
                 ..
BsmtFin SF 1      0
BsmtFin SF 2      0
Id                0
Total Bsmt SF     0
Sale Type         0
Length: 75, dtype: int64

For those columns that still have some null values, I'm replacing them with the mean for numerical columns and with a random value from the other rows for categorical columns

In [133]:
def clean_data(df):
    for col in df.columns:
        if df[col].isnull().sum() > 0 and df[col].notnull().sum() < 1538:
            if df[col].dtype == 'object': 
                non_null_values = df[col].dropna().unique()
                random_value = random.choice(non_null_values)
                df[col].fillna(random_value, inplace=True)
            else:
                get_mean = df[col].mean()
                df[col].fillna(get_mean, inplace=True)
    return df

In [134]:
train_clean = clean_data(train)

In [135]:
test_clean = clean_data(test)

In [136]:
train_clean.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Lot Shape,Land Contour,Utilities,...,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,1612,526352080,20,RL,85.00000,10667,Pave,Reg,Lvl,AllPub,...,44,0,0,0,0,0,3,2007,WD,167300
1,2045,904100100,70,RL,107.00000,12888,Pave,Reg,Bnk,AllPub,...,0,0,0,0,0,0,4,2007,WD,219000
2,1962,535451110,20,RL,60.00000,7200,Pave,Reg,Lvl,AllPub,...,0,0,0,0,0,0,7,2007,WD,129000
3,229,905109130,60,RL,80.00000,14000,Pave,Reg,Lvl,AllPub,...,44,0,0,0,0,0,4,2010,WD,328000
4,1105,528363020,60,RL,69.37821,11929,Pave,IR1,Lvl,AllPub,...,87,0,0,0,0,0,6,2008,WD,290000

In [137]:
test_clean.head()

,Unnamed: 0,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Lot Shape,Land Contour,...,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,Sale Type
0,1124,2782,907200170,80,RL,55.0,10780,Pave,IR1,Lvl,...,0,0,0,0,0,0,0,7,2006,WD
1,188,2569,535125060,60,RL,88.0,14200,Pave,Reg,Lvl,...,105,66,0,0,0,0,0,5,2006,WD
2,1727,1062,528142020,60,RL,74.0,8899,Pave,Reg,Lvl,...,100,24,0,0,0,0,0,6,2008,WD
3,1658,287,909100110,70,RL,66.0,6858,Pave,Reg,Bnk,...,0,66,136,0,0,0,0,5,2010,WD
4,1424,2809,907410040,60,RL,74.0,8581,Pave,IR1,Lvl,...,0,105,0,0,0,0,0,8,2006,New

Dropping "Id" and "PID" columns from both data sets as they won't be neccessary in my analysis

In [138]:
train_clean.drop(columns =['Id', 'PID'], inplace=True)

In [139]:
test_clean.drop(columns =['Id', 'PID'], inplace=True)

In [140]:
train_clean.shape

(1538, 73)

In [141]:
test_clean.shape

(513, 73)

In [151]:
train_clean.to_csv('train_clean.csv', index = False)

In [152]:
test_clean.to_csv('test_clean.csv', index = False)